{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-light">
      <thead class="thead-light">
      <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Category' %}</th>
          <th>{% trans 'Selling price' %}</th>
          <th>{% trans 'Details' %}</th>
          <th>{% trans 'Edit' %}</th>
      </tr>
      </thead>

      <tbody>
      {% for a in products %}
      <tr>
        <td>{{ a.name }}</td>
        <td>{{ a.product_category }}</td>
        <td>{{ a.selling_price }}</td>
        <td><a href="{% url "workshop:product_detail" a.pk %}">{% trans 'Details' %}</a> </td>
        <td><a href="{% url "workshop:product_update" a.pk %}">{% trans 'Edit'%}</a> </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
