{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
  <h3>{% trans "Delete Article-ID" %} {{article.pk}} / {% trans "Name:" %} {{article.nom}} ?</h3>

  <div class="jumbotron info-danger">
    <h4>Cela efface aussi le coût d'achat!</h4>
  </div>

  <form action="/inventory/article_delete/{{ article.pk }}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>
</div>
{% endblock %}
